#image-logo{
width: 300px;
height: 100px;

}
/*ul,li{
    display:inline-flex ;
}*/
.header-layout{
    display: flex ;
    align-items: center;
    justify-content:  space-around;
    background-color: brown;
}
*{margin:0px}
li{
    list-style: none;
    display: inline-flex;
}
a{
    border-radius: 10px;
    border: 10px;
    background-color: bisque;
    padding: 5px;


}
.product{
    width: 100px;
    height: 60px;
    border: 10px solid lightcoral;
    border-radius: 10px ;
    background-color:gray ;
    text-align: center;
    padding: 20px;
    margin: 30px;
}
.product-layout{
    display: flex;
    justify-content: space-around;
    height: 180px;
}
.footer-section{
    display: flex;
 background-color:greenyellow ; 
 height: 10vh;
 align-items: center;
 justify-content:space-around;

}
